$white: #fff;
$offWhite: #c2d4f8;
$accent: #3dd0d8;
$accentLighter: #00b4d6;
$gradient: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
$gradientAlt: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
//bg colors
$bgColorDark: #292845;
$bgColorDarker: #181728;
$textWhite: #cbcbcb;
