@use "colors";
@use "fonts";
#hero {
  background-color: colors.$bgColorDark;
  min-height: 100vh;
  overflow-x: hidden;
  .container-fluid {
    padding: 0;
  }
}

.hero .hero-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top center;
}

.hero-text {
  font-family: fonts.$headingFont;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  position: relative;
  z-index: 999;
  h1 {
    font-size: 78px;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    background-image: colors.$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.h1-alt {
      background-image: colors.$gradientAlt;
    }
  }
  h3 {
    font-size: 36px;
    color: colors.$white;
    opacity: 0.9;
    font-weight: 400;
    text-shadow: 0 0 4px #333;
  }
}

.hero-text .hero {
  position: relative;
}

.hero .hero-slide .header-content {
  top: 45%;
  margin: auto;
  display: block;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
  position: relative;
  z-index: 999 !important;
}

.slide-content {
  padding: 10px 20px 10px 0;
  text-align: center;
  margin: auto;
  display: block;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 20px !important;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 5;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  background-color: colors.$accent;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px colors.$accent;
  text-align: center;
}
.slick-dots li button:before {
  opacity: 0.75;
  color: colors.$accent !important;
  font-size: 6px !important;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  margin-top: 1px;
  margin-left: 0.5px;
  font-size: 14px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1 !important;
  background-color: rgba(#333, 0.4);
}

/* Media Queries */

@media (max-width: 768px) {
  .hero-text .hero .hero-slide a {
    padding-top: 0.8rem;
  }

  .hero-text h1 {
    font-size: 400%;
  }

  .hero-text h3 {
    font-size: 200%;
  }
}

@media (max-width: 414px) {
  .hero-text .hero .hero-slide a {
    padding-top: 0.6rem;
  }

  .hero-text h1 {
    font-size: 300%;
  }

  .hero-text h3 {
    font-size: 150%;
  }
}
